@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Access Manager";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" id="btnUsers">
                    <a onclick="GetUsers('@Url.Action("ManageUsers", "Permissions")')">Usuarios</a>
                </li>
                <li class="null" id="btnRoles">
                    <a onclick="GetRoles('@Url.Action("ManageRoles", "Permissions")')">Permisos</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9" id="content">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/usuarios/usuarios.manage.roles.js" asp-append-version="true"></script>
    <script src="~/js/usuarios/usuarios.manage.usuarios.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(GetUsers('@Url.Action("ManageUsers", "Permissions")'));
    </script>
}